@import url('reset.css');

@font-face {
  font-family: Milano;
  src: url("../fonts/Milano_regular.ttf");
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.desaturate
{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
}

.strip-input
{
  outline-style: none;
  border:none;
  -webkit-appearance: none;
  -moz-appearance: none;
  &:focus
  {
    outline: none;
  }
}

.opacity {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

/*//////////////////////////////////////////////////////////////////////////*/

html {
  height: 100%;
  width: 100%;
}

body {
  background: url("../images/rygo-bgV3.jpg") right -100px no-repeat;
  background-size: cover;
  height: 100%;
  font-family: Milano;
  min-width: 880px;
  position: relative;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 34px;
  margin-bottom: 70px;
}

h3 {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 44px;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  line-height: 1.3em;
  margin-bottom: 10px;
}

header {
  padding-top: 6%;
  margin-left: 6%;
}

section.text {
  width: 45%;
  text-align: left;
  margin-left: 6%;
  padding-bottom: 50px;
}

.buttons li {
  display: inline-block;
  font-size: 40px;
  margin-right: 50px;
  margin-bottom: 30px;
  margin-top: 30px;
  border: 1px dashed black;
  padding: 15px 15px 7px 15px;
}

.buttons li:hover {
  cursor: pointer;
}

.buttons li.short {
  color: salmon;
}

.medium-text, .long-text {
  display: none;
}

.credit {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;

}

@media (max-width: 1250px) {
  body {
    /*background: url("../images/rygo-bgV4.jpg") right top no-repeat;*/
    background: url("../images/rygo-right-arm-crop-wide.jpg") right top no-repeat;
  }
  section.text {
  width: 40%;
  }
}

@media (max-width: 1115px) {
  body {
    /*background: url("../images/rygo-bgV4.jpg") right top no-repeat;*/
    background: url("../images/v6.jpg") right top no-repeat;
  }
  section.text {
  width: 45%;
  }
}

@media (max-width: 945px) {
  body {
    /*background: url("../images/rygo-bgV4.jpg") right top no-repeat;*/
    background: url("../images/v6.jpg") right top no-repeat;
  }
  section.text {
  width: 40%;
  }
}
